<div>
  <p style="padding-top:60px;">Survey Name: <%= @survey.title %></p>
  <form name='survey' method='post' action='/survey_submit'>  
    <input type="hidden" name="survey_id" value='<%= @survey.id %>' />
   <ol>
    <% @question_bank.each do |question| %>
    <li> <%= question.question %></li>
      <% question.answers.each do |answer| %>
      <input name="<%= question.id %>" type='radio' value='<%= answer.id %>' />  <%= answer.answer %><br>
      <%end%>
    <br>
    <% end %>
  </ol>
  <input type='submit' value='submit survey'>
</form>
</div>
